<style>
.page-about {
    background-color: #1abc9c;
    color: #ffffff;
    border-left-color: transparent;
}
</style>
<div class="container">

    <div >
        <div class="row">
            <div class="col-sm-9">
                <h1>We are OxfordsNotBrogues</h1>

                <div class="lead">Some stuff about the team</div>
                <p>This link: <a href="http://teamoxfordsnotbrogues.tumblr.com/">Team tumblr</a></p>

                <h3>Meet the team:</h3>
            </div>
        </div>
        <div class="row">
            <div class="list-group bs-team">

                <div class="col-md-5">

                    {{#each teamMember}}
                    <div class="list-group-item">
                        <a class="team-member {{class}}" href="{{ website }}">
                            <img src="{{ image }}" width="32" height="32">
                            {{ name }}
                            {{#if quote}}- '{{quote}}'{{/if}}
                        </a>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>

</div><!-- /.container -->
